* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Adobe Garamond Pro', 'Helvetica', 'Arial', sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px;
    color: #000000;
}

header h1 {
    display: inline-block;
    font-size: 45px
}

/* apply styles to the <nav> element in <header> */
header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 28px;
}

/* apply styles to the <nav> element's <ul> elements */
header nav ul {
    list-style-type: none;
}

/* apply styles every <li> element's inside of the <ul> elements */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* apple styles to the <a> elements inside of the <li> elements */
header nav ul li a {
    margin: 0 20px;
    font-size: 1.55vw;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* hero style start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/mjdunk.jpg");
    background-size: cover;
    background-position: center;
}

.hero-quote {
    width: 700px;
    color: #ffffff;
    position: absolute;
    bottom: 75px;
    left: 30px;
    font-size: 30px;
}

/* hero style end */

/* apply styles to all <p> elements */
p {
    font-size: 24px;
}

/* content section start */    
.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}
/* apply styles to each container in primary left column of site */
.about-me, .work-examples, .contact-me {
    margin: 10px 60px 20px 0;
    padding: 50px;
    height: 300px;
    color: #000000;
}

/* apply styles to all <h2> elements in primary left column of site */
.about-me h2, .work-examples h2, .contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    border-bottom: 3px solid;
}

/* apply styles to all images in primary left column of site */
.about-me img, .work-examples img, .contact-me img {
    max-height: 200px;
}

/* apply style to headshot image */
.float-left {
    float: left;
    margin-right: 25px;
}



/* content section end */



/* apply styles to <footer> */
footer {
    background: #000000;
    width: 100%;
    padding: 35px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h4 {
    color: #eeeeee;
    font-size: 20px;
    margin: 0;
}

footer h5 {
    color: #eeeeee;
    font-size: 16px;
    font-style: italic;
    text-align: right;
    
}