* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Times';
    /* 'Georgia', 'Helvetica', 'Arial', sans-serif; */
    overflow-x: hidden; 
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* apply styles to <h1> in <header> */
header h1 {
    font-size: 45px;
}

/* apply styles to the <nav> element in <header> */
header nav {
    margin: 7px 0;
}

/* apply styles to the <nav> element's <ul> elements */
header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* apple styles to the <a> elements inside of the <li> elements */
header nav ul li a {
    padding: 30px 25px;
    font-size: 2.0vw;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* apply styles to hero */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/mjdunk.jpg");
    background-size: cover;
    background-position: center;
    align-items: flex-start;
}

/* apply styles to the hero quote */
.hero-quote {
    width: 50%;
    color: #ffffff;
    position: absolute;
    left: 30px;
}

/* apply styles to all <p> elements */
p {
    font-size: 24px;
}

/* content section start */    
.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

/* apply styles to about and contact sections */
.about-me, .contact-me {
    margin: 10px 60px 150px 0;
    padding: 50px;
    height: 300px;
    color: #000000;
}

.skills {
    margin: 10px 60px 200px 0;
    padding: 50px;
    height: 100px;
    color: #000000;
}

/* apply additional style to work section for more space */
.work-examples {
    padding: 50px;
    margin: 10px 60px 150px 0;

}

/* apply styles to all <h2> elements in about, skills, work and contact sections */
.about-me h2, .work-examples h2, .contact-me h2, .skills h2 {
    margin-bottom: 20px;
    font-size: 44px;
    border-bottom: 3px solid;
}

/* apply styles to all images in about and contact sections */
.about-me img, .contact-me img {
    max-height: 200px;
}

/* apply style to headshot image */
.float-left {
    float: left;
    margin-right: 25px;
}

.flex-row {
    display: flex;
}

/* skills logo size */
.skill {
    height: 100px;
    width: 100px;
    padding: 10px;
}

/* apply styles to portfolio section */
main {
    margin: 50px auto;
    padding: 20px;
    background-color: #FEFEFF;
}

.card {
    margin: 15px 30px;
}

.card-title {
    justify-items: center;
}

/* apply styles to contact info section */
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

/* apply styles to contact info <ul> elements */
.contact-info ul {
    list-style-type: none;
    font-size: 20px;
}

/* start style for contact form */
.contact-form {
    height: 200px;
    font-size: 20px; 
    margin-bottom: 10px;  
}

.contact-form input, .contact-form textarea {
    border: 1px solid #000000;
    display: block;
    padding: 15px 20px;
    font-size: 16px;
    color: #000000;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: #ffffff;
    background: #0066cc;
}
/* end style for contact form */

/* start style for <footer> */
footer {
    background: #000000;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 130px;
}

footer h4 {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

footer p {
    color: #ffffff;
    line-height: 1.5;
    text-align: right;
    font-size: 20px;
    font-style: italic;
}
/* end styles for <footer> */ 

/* style to add grey hover for <a> elements inside header and footer */ 
a:link, a:visited {
    text-decoration: none;
    color: #000000;
}
  
a:hover, a:active {
    text-decoration: underline;
    color: #636363;
}

/* media query for 2000px or smaller desktop screens and devices */
@media screen and (max-width: 2000px) {
.hero-quote {
    width: 30%;
    text-align: left;
    position: absolute;
    top: 300px;
    left: 100px;
    bottom: 400px;
    font-size: 250px;
}

.contact-form {
    height: 400px;
    font-size: 20px; 
}
}

/* media query for 1200px or smaller desktop screens and devices */
@media screen and (max-width: 1200px) {
.hero-quote {
    width: 50%;
    text-align: left;
    position: absolute;
    top: 250px;
    left: 100px;
    font-size: 60px;
}
    
.contact-form {
    height: 400px;
    font-size: 20px; 
}
}

/* media query for 980px or smaller desktop screens and devices */
@media screen and (max-width: 1080px) {
.hero-quote {
    top: 250px;
    text-shadow: 0px 0px 10px black;
}
}

/* media query for 980px or smaller desktop screens and devices */
@media screen and (max-width: 980px) {

header {
    padding-bottom: 0;
    justify-content: center;
    /* position: relative; */
}

header h1 {
    width: 100%;
    text-align: center;     
}
    
header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
    
header nav ul li a {
    font-size: 24px;
    margin: 0 auto 10px auto;
}
    
footer h4, footer p {
    text-align: center;
    width: 100%;
}

.hero-quote {
    width: 50%;
    text-align: left;
    position: absolute;
    left: 100px;
    bottom: 250px;
    font-size: 15px;
}

.content p {
    font-size: 20px;
}

.contact-info {
    flex: 1 100%;
}
}

/* media query for 768px or smaller desktop screens and devices */
@media screen and (max-width: 768px) {

header nav ul li a {
    font-size: 20px;
    margin: 0 auto 10px auto;
}

.content p {
    font-size: 20px;
}
    
.about-me, .contact-me, .skills {
    margin: 10px 60px 250px 0;
}
}

/* media query for 575px or smaller desktop screens and devices */
@media screen and (max-width: 575px) {
.hero-quote {
    width: 50%;
    text-align: left;
    left: 100px;
    bottom: 100px;
    font-size: 15px;
}

.content p {
    font-size: 14px;
}

.about-me, .contact-me, .skills {
    margin: 10px 60px 300px 0;
}

.contact-info ul {
    font-size: 16px;
}

.contact-form {
    font-size: 16px;   
}

.contact-form button {
    font-size: 16px;
}
}

/* media query for 400px or smaller desktop screens and devices */
@media screen and (max-width: 400px) {

.hero-quote {
    width: 50%;
    text-align: left;
    left: 100px;
    bottom: 100px;
    font-size: 15px;
}

.content p {
    font-size: 16px;
}
    
.about-me {
    margin: 10px 60px 450px 0;
}

.contact-me {
    margin: 10px 60px 150px 0;
}
    
.work-examples {
    margin-bottom: 110px;
}

.skills {
    margin-bottom: 600px;
}
    
.contact-info ul {
    font-size: 14px;
}
    
.contact-form {
    font-size: 14px;   
}
    
.contact-form button {
    font-size: 14px;
}
}