* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px;

    background-color: #ffffff;
    columns: #000000;
}

/* apply styles to all <h1> elements in <header> */
header h1 {
    font-weight: bold;
    font-size: 48px;
}

/* apply styles to every <nav> element in <header> */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* apply styles to <nav> element's <ul> elements */
header nav ul {
    list-style-type: none;
}

/* apply styles every <li> element's inside of the <ul> elements */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* apple styles to the <a> elements inside of the <li> elements */
header nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* apply styles to all <p> elements */
p {
    font-size: 16px;
}

/* apply styles to hero image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/mjdunk.jpg");
    background-size: cover;
    background-position: center;
}

.hero-quote {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #000000;
    font-size: 18px;
    line-height: 1.2;
}

.hero-quote p {
    margin: 5px 0 15px 0;
}

/* apply styles to <footer> */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/* apply style to the <h4> element in the <footer> */
footer h4 {
    font-size: 20px;
}